@charset "utf-8";
/*公共的但不是全局的样式*/
.clear{height:0;font-size:0;clear:both; }
.top{height:30px;line-height:30px; width:100%;background:black; overflow:hidden; color:#fff; font-size:12px;}
.top a{color:#fff;}
.tellus{background:url("../image/ico_tel.png") no-repeat 0px center; padding-left:18px;margin-left:20px;}
.login{background:url("../image/ico_account.png") no-repeat 0px center;padding-left:22px;padding-right:20px;}
.login a{ color:#fff;}

.btn{display: inline-block;overflow: visible;vertical-align: middle;text-align: center;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;cursor: pointer;background-color: #F74D58;
color:#fff;text-decoration: none; padding:5px;}
.btn-blue{background-color:#5caae6; border:1px solid #4798d6 ;color:#fff;padding:7px 20px;border-radius:2px; display:block;}
.btn-grey{background-color: #EFF0E7; border:solid 1px #dddedf; color:#989898;padding:7px 20px;border-radius:2px; display:block;}


/* =====  分页样式 ===== */
.pagelist{overflow:hidden; float:right; margin:10px; }
.pagelist span,.pagelist a{display:inline-block;border:1px solid #ccc;border-radius:5px;padding:5px 12px;margin:0px 6px;color:#888;}
.pagelist span.current{background:#f74d58;color:#fff;border-color:#f74d58;}
.pagelist span.disabled{color:#ccc;}

input {border:0;outline:0;vertical-align:middle;width:324px;border:1px solid #D3D3D3;border-radius:5px;margin-right:15px;margin-top:-1px; height:30px;line-height:24px;}
textarea {border:0;outline:0;vertical-align:middle;width:480px;border:1px solid #D3D3D3;border-radius:5px; padding:3px 0 3px 10px;height:180px;line-height:24px;}