<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/tx 
         http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
         http://www.springframework.org/schema/jee 
         http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
         http://www.springframework.org/schema/context 
         http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       default-lazy-init="true">
       
	<!-- hibernate注解配置 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan" value="com.lemon.entity" />
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=${hibernate.dialect}
				hibernate.show_sql=true
				<!-- hibernate.hbm2ddl.auto=update//自动生成数据库表，如果表存在就更新数据库表字段但是不会删除表中的数据 -->
				hibernate.format_sql=false
				hibernate.cache.use_second_level_cache=true
				
				<!-- 
					1、hibernate4的二级缓存配置 org.hibernate.cache.ehcache.EhCacheRegionFactory
					2、是当spring也配置了ehcache作为缓存时，为了使spring缓存和hibernate缓存使用同一缓存管理器，
					从而保证缓存的一致性，需要使用org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory。
					如果仅是hibernate使用ehcache的话，org.hibernate.cache.ehcache.EhCacheRegionFactory即可。
				-->
				hibernate.cache.region.factory_class=org.hibernate.cache.SingletonEhCacheRegionFactory
				<!--
					hibernate3的二级缓存配置
					hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider 
				-->
				
				hibernate.cache.use_query_cache=true
				
				<!--
					hibernate.query.substitutions=true 1, false 0
					hibernate.jdbc.batch_size=20
					hibernate.cache.use_query_cache=false 关闭二级缓存，如果开启需要另行修改配置文件
					hibernate.current_session_context_class=org.springframework.orm.hibernate4.SpringSessionContext 
				-->
			</value>
		</property>
		
	</bean>
	
   <!-- 数据库映射 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="autoCommitOnClose" value="false"/>
		<property name="checkoutTimeout" value="${cpool.checkoutTimeout}"/>
		<property name="initialPoolSize" value="${cpool.minPoolSize}"/>
		<property name="minPoolSize" value="${cpool.minPoolSize}"/>
		<property name="maxPoolSize" value="${cpool.maxPoolSize}"/>
		<property name="maxIdleTime" value="${cpool.maxIdleTime}"/>
		<property name="acquireIncrement" value="${cpool.acquireIncrement}"/>
		<property name="maxIdleTimeExcessConnections" value="${cpool.maxIdleTimeExcessConnections}"/>
	</bean>
	
	<!-- 声明事务 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 配置事务异常封装 -->
  	<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	
	<import resource="application-ehcache.xml"/>
	
</beans>