## This is a velocity template
## to generate a model class from an sql table input
#set ($table = $sqlTable.Table)
#set ($class = $utility.makeClassName($sqlTable.EntityName))
#set ($classVar = $utility.makeFirstLetterLowerCase($class))
#set ($packagePrefix  = $prop.getProperty("packagePrefix"))
#set ($packageModot  = $prop.getProperty("packageModot"))
#set ($keyfield = $sqlTable.getPrimaryKey(0).getColname())
#set ($keytype  = $sqlTable.getPrimaryKey(0).getAttType())
#set ($keyVar= $utility.makeVarName($keyfield))
#set ($keyVarUC = $utility.makeFirstLetterUpperCase($keyVar))
package ${packagePrefix}.service.impl;

import javax.annotation.Resource;
import org.springframework.stereotype.Service;

import ${packagePrefix}.service.impl.BaseServiceImpl;
import ${packagePrefix}.dao.${class}Dao;
import ${packagePrefix}.entity.${class};
import ${packagePrefix}.service.${class}Service;

/*
 *  @author 
 */
@Service
public class ${class}ServiceImpl extends BaseServiceImpl<${class},String> implements ${class}Service{

	@Resource
	private ${class}Dao $utility.makeFirstLetterLowerCase(${class})Dao;
	
	@Resource(name = "$utility.makeFirstLetterLowerCase(${class})DaoImpl")
	public void setBaseDao(${class}Dao $utility.makeFirstLetterLowerCase(${class})Dao) {
		super.setBaseDao($utility.makeFirstLetterLowerCase(${class})Dao);
	}

}